{% extends 'base.html' %}
{% block head %}
<title>Pantalla_2</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-*4*">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d44160313.66572634!2d-69.97141606025555!3d-38.50623360358671!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1ses!2sar!4v1571563319169!5m2!1ses!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <form action="http://lineadecodigo.com/search" method="get">
        <label for="busqueda">Buscar tu ubicación</label>
        <input type="search" id="busqueda" name="q"/>
        <input type="submit" value="Buscar"/>
      </form>
    </div>
	  <div class="col-*8*">
		  <div class="form-group">
        <label for="usr">Inicio:</label>
        <input type="text" class="form-control" id="usr">
      </div>
      <div class="form-group">
        <label for="pwd">predecir año:</label>
        <input type="password" class="form-control" id="pwd">
      </div>
      <div class="form-group">
        <label for="sel1">Seleccioná la cantidad de años:</label>
          <select class="form-control" id="sel1">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
      </div>

		  <a class="trigger_popup_fricc"> <button type="button" class="btn btn-primary">SIMULAR</button></a>	
		  <div class="hover_bkgr_fricc">
        <span class="helper"></span>
      </div>

      <div class="popupCloseButton">X</div>

      <img src="img/resultados.png" width="300" height="300">
    </div>
  </div>
</div>
{% endblock %}